.sticky-header {
    left: 0;
    padding: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background: #171d22;
    -webkit-animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    border-radius: 0;
    height: auto;
    transition: all 0.5s ease-in-out;
}


.transparent {

    background: rgba(25, 25, 25, 0.1);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.menu {
    height: 100%;
}

.menu>ul {
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    height: 100%;

    list-style: none;

    justify-content: flex-end;
}

.logo {
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    border-radius: 50%;
    margin-right: 1.5rem;

}

.logo>img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}


.menu>ul>li>.nav-link {
    font-size: 14px;
    font-weight: 700;   
    font-style: normal;

    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    color: #f0f0f0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

}

.menu>ul>li>.nav-link:hover {
    color: #119eba;
}

.menu>ul>li:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.search-box>form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.search-box>form>input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: #171d22;
    color: #f0f0f0;
    padding: 0.5rem 1rem;
    border-radius: 50px 0 0 50px;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    transition: all 0.3s ease-in-out;
    border: 2px solid #f0f0f0;
    border-right: none;
}

.search-box>form>input:focus {
    background: #f0f0f0;
    color: #171d22;
}

.search-box>form>input::placeholder {
    text-transform: uppercase;
    color: #f0f0f0;
}

.search-box>form>input:focus::placeholder {
    color: #171d22;
}


select {
    background: inherit;
    color: #f0f0f0;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    transition: all 0.3s ease-in-out;

    cursor: pointer;

    overflow: hidden;
}

select::-ms-expand {
    display: none;
}


select option {
    background: #171d22;
    color: #f0f0f0;

    text-align: center;
}